.gif {
    display: block;
    margin: auto;
    max-width: 50%;
    padding-top: 10em;
}

h2 {
    text-align: center;
    font-size: 3em;
}

div {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
}

body {
  display: block;
  margin: auto;
  max-width: 100%;

}
button {
    display: block;
    margin: auto;
    width: 40%;
}

#letter {
  display: block;
  align-self: center;
  visibility: hidden;
  padding-right: 10vh;
  
}
