.gif {
    display: block;
    margin: auto;
    max-width: 100%;
    padding-top: 10em;
}

h2 {
    text-align: center;
    font-size: 3em;
}

div {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
    align-items: center;
}

body {
  display: block;
  margin: auto;
  max-width: 100%;
  align-content: center;

}
button {
    display: block;
    margin: auto;
    width: 40%;
    font-size: 2em;
}

#letter {
  display: block;
  align-self: left;
  visibility: hidden;
  width: 40%;
  
}




